<template>
  <div>
    <el-row
      v-for="(file, index) in uploadedFiles"
      :key="file.id">
      <el-col :span="15">
        <a
          :href="downloadLink(file.id)"
          target="_blank">
          {{ file.name }}
        </a>
      </el-col>
      <el-col :span="5">
        {{ file.size }}
      </el-col>
      <el-col :span="4">
        <el-button
          type="danger"
          :disabled="disableBtn"
          @click="removeFile(file.id, index)">
          Destroy
        </el-button>
      </el-col>
    </el-row>

    <el-row
      v-if="showNewFiles"
      v-for="(file, index) in newFiles"
      :key="file.id">
      <el-col :span="15">
        <a
          :href="downloadLink(file.id)"
          target="_blank">
          {{ file.name }}
        </a>
      </el-col>
      <el-col :span="5">
        {{ file.size }}
      </el-col>
      <el-col :span="4">
        <el-button
          type="danger"
          @click="destroyFile(file.id, index)">
          Destroy
        </el-button>
      </el-col>
    </el-row>

    <div>
      <el-upload
        v-if="dragFile"
        class="upload-demo dragable-uploader"
        drag
        :action="$apiRoutes.upload"
        :headers="httpHeader"
        :on-success="handleSucces"
        :limit="limit"
        :multiple="multiple">
        <div class="el-upload__text">
          Drop file here or
          <br>
          <span class="el-upload_text_em"><em>click to upload</em></span>
        </div>
      </el-upload>
      <el-upload
        v-if="!dragFile"
        class="upload-demo"
        :action="$apiRoutes.upload"
        :headers="httpHeader"
        :on-success="handleSucces"
        style="margin-bottom: 10px">
        <el-button
          size="small"
          :disabled="disableBtn"
          type="primary">
          {{ uploadButton }}
        </el-button>
      </el-upload>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    files: {
      type: Array,
      default () {
        return []
      }
    },
    showNewFiles: {
      type: Boolean,
      default: true
    },
    reset: {
      type: Boolean,
      default: false
    },
    uploadButton: {
      type: String,
      default: 'Click to upload'
    },
    disableBtn: {
      type: Boolean,
      default: false
    },
    dragFile: {
      type: Boolean,
      default: false
    },
    multiple: {
      type: Boolean,
      default: true
    },
    uploaderName: {
      type: String,
      default: ''
    },
    limit: {
      type: [Number, String],
      default: 20
    }
  },

  data () {
    return {
      httpHeader: {
        'X-CSRF-Token': document.getElementsByName('csrf-token')[0].getAttribute('content')
      },
      uploadedFiles: this.files.slice(),
      newFiles: [],
      removedFiles: []
    }
  },
  watch: {
    files (newfiles) {
      this.uploadedFiles = this.files.slice()
    },
    reset (status) {
      this.uploadedFiles = []
      this.newFiles = []
      this.removedFiles = []
    }
  },
  methods: {
    removeFile (id, index) {
      this.uploadedFiles.splice(index, 1)
      this.$emit('removed-file', id, this.uploaderName)
    },
    destroyFile (id, index) {
      this.axios.delete(this.$apiRoutes.upload + '/' + id)
        .then(response => {
          this.newFiles.splice(index, 1)
        })
        .catch(e => {
          this.errorMessage(e.request.status, e)
        })
    },
    handleSucces (response) {
      let deserializeResponse = this.deserializer(response)
      this.newFiles.push(deserializeResponse)
      this.$emit('added-file', deserializeResponse.id, this.uploaderName)
    }
  }
}
</script>

<style>
.el-upload-list__item.is-success {
  display: none;
}
.dragable-uploader .el-upload {
  width: 100%;
  height: 75px;
}
.dragable-uploader .el-upload .el-upload-dragger {
  width: 100%;
  height: 75px;
}
.dragable-uploader .el-upload-dragger .el-upload__text {
  line-height: 25px;
  margin-top: 10px;
}
.el-upload_text_em{
  margin-bottom: -10px;
  margin-top: -20px;
}
</style>
