<template>
  <div>
    <el-card class="box-card">
      <el-row
        slot="header"
        class="clearfix">
        <el-col :span="12">
          <span v-if="edit">
            Edit {{ userType }}
          </span>
          <span v-else>
            New {{ userType }}
          </span>
        </el-col>
        <el-col
          :span="12"
          class="text-right">
          <el-button-group>
            <el-button
              type="primary"
              class="button-flat"
              @click="goBack">
              <font-awesome-icon
                icon="chevron-left"
                size="2x" />
            </el-button>
            <el-button
              v-if="edit"
              type="success"
              class="button-flat"
              @click="showPage">
              <font-awesome-icon
                icon="eye"
                size="2x" />
            </el-button>
          </el-button-group>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="24">
          <el-form
            ref="userForm"
            label-width="250px"
            :model="profile"
            :rules="rules"
            @keydown.enter.native="submitForm">
            <el-form-item
              label="Title"
              props="title">
              <el-input v-model="profile.title" />
            </el-form-item>

            <el-form-item
              label="First Name"
              prop="first_name">
              <el-input v-model="profile.first_name" />
            </el-form-item>

            <el-form-item
              label="Last Name"
              prop="last_name">
              <el-input v-model="profile.last_name" />
            </el-form-item>

            <el-form-item
              label="Email"
              prop="user_attributes.email">
              <el-input
                v-model="profile.user_attributes.email"
                type="email" />
            </el-form-item>

            <el-form-item
              label="Password"
              prop="user_attributes.password">
              <el-input
                v-model="profile.user_attributes.password"
                type="password"
                auto-complete="off" />
            </el-form-item>

            <el-form-item
              label="Password_confirmation"
              prop="user_attributes.password_confirmation">
              <el-input
                v-model="profile.user_attributes.password_confirmation"
                type="password"
                auto-complete="off" />
            </el-form-item>

            <span>
              <el-form-item
                :label="Description"
                props="description">
                <el-input
                  v-model="profile.description_en"
                  type="textarea" />
              </el-form-item>
            </span>

            <el-form-item class="button">
              <el-button @click="resetForm">
                Reset
              </el-button>
              <el-button
                class="submit"
                type="primary"
                @click="submitForm">
                {{ buttonText }}
              </el-button>
            </el-form-item>
            <el-dialog
              :close-on-click-modal="false"
              :close-on-press-escape="false"
              v-if="defaultPmDialog"
              :visible.sync="defaultPmDialog"
              width="40%">
              <span
                style="padding-right: 20px"
                slot="title"
                class="dialog-title"
                v-html="defaultPmDialogMessage" />
              <span
                slot="footer"
                class="dialog-footer">
                <el-button
                  @click="()=>{
                    profile.default_pm = false
                    defaultPmDialog = false
                  }
                  ">Cancel</el-button>
                <el-button
                  type="primary"
                  @click="defaultPmDialog = false">
                  Confirm</el-button>
              </span>
            </el-dialog>
          </el-form>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>

<script>
export default {
  props: ['userRoute', 'userType', 'edit'],

  data () {
    let validatePassword = (rule, value, callback) => {
      if (this.profile.user_attributes.password_confirmation === '' && this.profile.user_attributes.password === '') {
        callback()
      } else {
        this.validSpecificPassword(value, callback)
        if (this.profile.user_attributes.password_confirmation !== '') {
          this.$refs.userForm.validateField('user_attributes.password_confirmation')
        }
        callback()
      }
    }
    let validateConfirmation = (rule, value, callback) => {
      if (this.profile.user_attributes.password_confirmation === '' && this.profile.user_attributes.password === '') {
        callback()
      }
      else if (this.isBlank(value)) {
        callback(new Error("Password_Confirmation")
      }
      else if (value !== this.profile.user_attributes.password) {
        callback(new Error("Not_Match")
      }
      else {
        callback()
      }
    }
    return {
      defaultPmDialogMessage: '',
      curentDefaultPms: [],
      defaultPmDialog: false,
      deleteAlertVisible: false,
      deletedItemIndex: 0,
      httpHeader: {
        'X-CSRF-Token': document.getElementsByName('csrf-token')[0].getAttribute('content'),
      },
      imageUrl: '',
      profile: {
        id: null,
        first_name: '',
        last_name: '',
        title: '',
        user_attributes: {
          email: '',
          password: '',
          password_confirmation: '',
        },
      },
      rules: {
        first_name: [
          { required: true, message: Input_first_name },
        ],
        last_name: [
          { required: true, message: Input_last_name },
        ],
        user_attributes: {
          email: [
            { required: true, message: Input_email },
            { type: 'email', message: Input_correct_email, trigger: 'blur,chang' },
          ],
          password: [
            { validator: validatePassword, trigger: 'blur' },
          ],
          password_confirmation: [
            { validator: validateConfirmation, trigger: 'blur' },
          ],
        },
      },
    }
  },
  computed: {
    userForm () {
      return this.$refs['userForm']
    },
    buttonText () {
      return this.edit ? Update : Submit
    },
  },

  watch: {
    userRoute (newUserRoute) {
      this.preparingUser()
    },
  },

  created () {
    this.preparingUser()
  },
  methods: {
    submitForm () {
      this.userForm.validate((valid) => {
        if (!valid) return
        if (this.edit) {
          this.updateUserForm()
        } else {
          this.newUserForm()
        }
      })
    },
    newUserForm () {
      this.axios.post(this.userRoute, this.profile)
        .then(response => {
          this.errorMessage(-1, Successfuly_created, 'success')
          this.$router.push({ name: 'user_index' })
        })
        .catch(e => {
          this.errorMessage(e.request.status, e)
        })
    },

    updateUserForm () {
      this.axios.put(this.userRoute + '/' + this.profile.id, this.profile)
        .then(response => {
          this.errorMessage(-1, Successfuly_updated, 'success')
          this.$router.push({ name: 'user_index' })
        })
        .catch(e => {
          this.errorMessage(e.request.status, e)
        })
    },

    findUser (id) {
      this.axios.get(this.userRoute + '/' + id)
        .then(response => {
          let data = this.deserializer(response.data)
          this.profile.id = data.id
          this.profile.first_name = data.first_name
          this.profile.last_name = data.last_name
          this.profile.full_name = data.full_name
          this.profile.title = data.title
          this.profile.user_attributes.email = data.email

          this.imageUrl = this.isBlank(data.attachment) ? '' : this.downloadLink(data.attachment.id)
        })
        .catch(e => {
          this.errorMessage(e.request.status, e)
        })
    },

    resetForm () {
      this.userForm.resetFields()
    },

    preparingUser () {
      if (this.edit) {
        const id = this.$route.params.id
        this.findUser(id)
      }
    },
    successUploadPicture (response, file) {
      this.imageUrl = URL.createObjectURL(file.raw)
      let deserializeResponse = this.deserializer(response)
      this.profile.user_attributes.added_files.push(deserializeResponse.id)
    },
    beforeAvatarUpload (file) {
      const isJPG = file.type === 'image/jpeg' || file.type === 'image/png'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG) {
        this.$message.error(Avator_jpg)
      }
      if (!isLt2M) {
        this.$message.error(Avator_size)
      }
      return isJPG && isLt2M
    },
    goBack () {
      this.$router.push({ name: 'user_index' })
    },

    showPage () {
      this.$router.push({ name: 'user_show', params: { id: this.$route.params.id } })
    },

    deleteMethod (index) {
      this.deleteAlertVisible = false
    },

    deleteAlert (visible, UserIndex) {
      this.deleteAlertVisible = visible
      this.deletedItemIndex = UserIndex
    },

    checkCurrentDefaultPm (value) {
      this.axios.get(this.$apiRoutes.dpo, {
        params: {
          default_pm: true,
        },
      })
        .then(response => {
          this.curentDefaultPms = this.deserializer(response.data)
          const defaultPmItem = this.curentDefaultPms.find((item, index) => {
            return item.default_pm === true
          })

          if (defaultPmItem.id !== this.profile.id && value) {
            this.defaultPmDialogMessage = Change_default_pm_warning, [`<b>${defaultPmItem.full_name}</b>`, `<b>${this.profile.full_name}</b>`]
            this.defaultPmDialog = true
          } else if (defaultPmItem.id === this.profile.id) {
            this.errorMessage(-1, Must_one_default_pm_exist, 'error')
            this.profile.default_pm = true
          }
        })
    },
  },
}
</script>
