<template>
  <div>
    <el-card class="box-card">
      <el-row>
        <el-col :span="12">
          <span>List{{ userType }}</span>
        </el-col>
        <el-col :span="12">
          <el-row>
            <el-col>
              <el-button
                type="primary"
                class="button-flat pull-right"
                @click="createPage">
                Add New
              </el-button>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <div
        class="panel-body"
        v-if="users.length === 0">
        Empty
      </div>
      <div v-if="users.length > 0">
        <el-table
          :data="users"
          style="width: 100%; text-align: left">
          <el-table-column
            fixed
            type="index"
            width="50" />
          <el-table-column
            prop="attributes.title"
            label="Title"
            width="80" />
          <el-table-column
            prop="attributes.first_name"
            label="First Name"
            width="95" />
          <el-table-column
            prop="attributes.last_name"
            label="Last Name"
            width="95" />
          <el-table-column
            prop="attributes.email"
            label="Email"
            width="200" />
          <el-table-column
            fixed="right"
            width="150"
            label="Operations">
            <template slot-scope="scope">
              <el-button
                @click.native.prevent="showUser(scope.$index)"
                type="text"
                size="small">
                <font-awesome-icon
                  icon="eye"
                  size="2x" />
              </el-button>
              <el-button
                @click.native.prevent="editUser(scope.$index)"
                type="text"
                size="small">
                <font-awesome-icon
                  icon="edit"
                  size="2x" />
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  props: ['userRoute', 'userType', 'accessLinks'],
  data () {
    return {
      users: [],
    }
  },
  watch: {
    userRoute (newUserRoute) {
      this.fetch()
    },
  },
  created () {
    this.fetch()
  },
  methods: {
    fetch () {
      this.users = []
      let generatedRoute = this.userRoute
      generatedRoute += '?sorted[column]=id'
      generatedRoute += '&sorted[direction]=asc'

      this.axios.get(generatedRoute)
        .then(response => {
          this.users = response.data.data
        })
        .catch(e => {
          this.errorMessage(e.request.status, e)
        })
    },

    editUser (index) {
      const selectedUser = this.users[index]
      this.$router.push({ name: 'user_edit', params: { id: selectedUser.id } })
    },

    showUser (index) {
      const selectedUser = this.users[index]
      this.$router.push({ name: 'user_show', params: { id: selectedUser.id } })
    },

    defaultCheck (value) {
      return value ? 'check' : 'times'
    },

    createPage () {
      this.$router.push({ name: 'user_new' })
    },
  },
}
</script>
