<template>
  <el-row>
    <router-view
      :user-route="findUserRoute"
      :user-type="userType"
      :access-links="accessLinks"
    />
  </el-row>
</template>

<script>
export default {
  computed: {
    userType () {
      return this.$route.params.userType
    },

    findUserRoute () {
      let route = this.$apiRoutes.base

      switch (this.userType) {
        case 'admin':
          route += 'admins'
          break
        case 'author':
          route += 'authors'
      }

      return route
    },

    accessLinks () {
      let accessableLinks = {
        show: true,
        new: true,
        edit: true,
        destroy: true
      }

      return accessableLinks
    }
  }
}
</script>
