<template>
  <div>
    <el-form
      ref="securityForm"
      label-width="250px"
      :model="security">
      <el-row :gutter="20">
        <el-col :span="14">
          <el-form-item
            prop="public_pgp_key"
            label="Your public key">
            <el-input
              v-model="security.public_pgp_key"
              type="textarea"
              :rows="5" />
          </el-form-item>
          <el-form-item class="button">
            <el-button
              class="submit"
              type="primary"
              @click="updatePublicKey">
              Save Shanges
            </el-button>
          </el-form-item>
          <hr />
        </el-col>
        <el-col :span="10">
          <div class="passwordValidation">
            <span
              v-if="!isBlank(dataguardConfigs('ppg_key_description'))"
              v-html="dataguardConfigs('ppg_key_description').description" />
          </div>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>
<script>
export default {
  props: {
    company: {
      companies: [],
      required: false,
      type: Object,
      default () {
        return {}
      },
    },
  },
  data () {
    return {
      companyData: this.company,
      security: {
        public_pgp_key: this.$store.state.current_user.public_pgp_key,
        id: this.$store.state.current_user.profile_id,
      },
      isSavedToDb: (!this.isBlank(this.$store.state.current_user.public_pgp_key)),
      dposList: [],
      selectedDpo: '',
    }
  },
  computed: {
    dataguardConfigs () {
      return this.$store.getters.getDataguardConfigs
    },
  },
  watch: {
    'security.public_pgp_key' () {
      this.isSavedToDb = false
    },
  },
  methods: {
    downloadPublicKey () {
      window.open(this.$apiRoutes.download_public_keys + '/' + this.selectedDpo)
    },
    loadDpos (query) {
      if (query.length < 2) {
        return
      }
      if (this.searchTimer) clearTimeout(this.searchTimer)
      this.searchTimer = setTimeout(() => {
        this.dposList = []

        let generatedRoute = this.$apiRoutes.dpo
        generatedRoute += '?search=' + query
        generatedRoute += '&account_active=true'

        this.axios.get(generatedRoute)
          .then(response => {
            this.dposList = this.deserializer(response.data)
          })
          .catch(e => {
            this.errorMessage(e.request.status, e)
          })
      }, 500)
    },
    sendTestEmail () {
      this.send_test_email = { person_id: this.security.id }
      this.axios.post(this.$apiRoutes.send_test_email, this.send_test_email)
        .then(() => {
          this.errorMessage(-1, 'send was successfuly.', 'success')
        })
        .catch(e => {
          this.errorMessage(e.request.status, e)
        })
    },
    updatePublicKey () {
      this.axios.put(this.$apiRoutes.public_key + '/' + this.security.id, this.security)
        .then(() => {
          this.isSavedToDb = true
          this.errorMessage(-1, Updated_Successfully, 'success')
        })
        .catch(e => {
          this.errorMessage(e.request.status, e)
        })
    },
  },
}
</script>
