<template>
  <div>
    <el-card class="box-card">
      <el-tabs>
        <el-tab-pane label="Setting Page">
          <el-form
            ref="userForm"
            label-width="250px"
            :rules="rules"
            :model="profile"
            @keydown.enter.native="updateUserForm">
            <el-row :gutter="20">
              <el-col :span="14">
                <el-form-item
                  label="Current Password"
                  prop="user_attributes.current_password">
                  <el-input
                    v-model="profile.user_attributes.current_password"
                    type="password"
                    auto-complete="off"/>
                </el-form-item>

                <el-form-item
                  label="New Password"
                  prop="user_attributes.password">
                  <el-input
                    v-model="profile.user_attributes.password"
                    type="password"
                    auto-complete="off"/>
                </el-form-item>

                <el-form-item
                  label="Password Confirmation"
                  prop="user_attributes.password_confirmation">
                  <el-input
                    v-model="profile.user_attributes.password_confirmation"
                    type="password"
                    auto-complete="off"/>
                </el-form-item>
                <el-form-item class="button">
                  <el-button @click="resetForm">
                    Reset
                  </el-button>
                  <el-button
                    class="submit"
                    type="primary"
                    @click="updateUserForm">
                    Update
                  </el-button>
                </el-form-item>
              </el-col>
              <el-col :span="10">
                <div class="passwordValidation">
                  <div class="title">
                    Specific Password
                  </div>
                  <ul>
                    <li class="passListElement">
                      Least 8 Chars
                    </li>
                    <li class="passListElement">
                      Lower Case
                    </li>
                    <li class="passListElement">
                      Upper Case
                    </li>
                    <li class="passListElement">
                      Numeric Character
                    </li>
                    <li class="passListElement">
                      Special Character
                    </li>
                  </ul>
                </div>
              </el-col>
            </el-row>
          </el-form>
        </el-tab-pane>
        <el-tab-pane
          v-if="current_user.role == 'customer'"
          label="Security">
          <security/>
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>

<script>
import Security from './security'
export default {
  data () {
    let validatePassword = (rule, value, callback) => {
      this.validSpecificPassword(value, callback)
      if (this.profile.user_attributes.password_confirmation !== '') {
        this.$refs.userForm.validateField('user_attributes.password_confirmation')
      }
      callback()
    }
    let validateConfirmation = (rule, value, callback) => {
      if (this.isBlank(value)) {
        callback(new Error(Password_Confirmation))
      } else if (value !== this.profile.user_attributes.password) {
        callback(new Error(Not_Match))
      } else {
        callback()
      }
    }
    return {
      profile: {
        id: null,
        user_attributes: {
          current_password: '',
          password: '',
          password_confirmation: ''
        }
      },
      rules: {
        user_attributes: {
          password: [
            {validator: validatePassword, trigger: ['blur']}
          ],
          password_confirmation: [
            {validator: validateConfirmation, trigger: ['blur']}
          ],
          current_password: [
            {min: 8, message: Least_8_Chars, trigger: ['blur', 'change']},
            {required: true, message: Current_Password, trigger: ['blur', 'change']}
          ]
        }
      },
      send_test_email: {
        company_id: ''
      },
      send_test_email_visible: false
    }
  },
  components: {
    Security
  },
  computed: {
    userForm () {
      return this.$refs['userForm']
    },
    userRoute () {
      let route = this.$apiRoutes.base
      let userRole = this.$store.state.current_user.role

      switch (userRole) {
        case 'admin':
          route += 'admins'
          break
        case 'dpo':
          route += 'dpos'
          break
        case 'sale_rep':
          route += 'sale_reps'
          break
        case 'customer':
          route += 'people'
      }
      return route
    },
    company () {
      return this.$store.getters.selectedCustomerCompany
    }
  },
  methods: {
    updateUserForm () {
      this.userForm.validate((valid) => {
        if (!valid) return false
        this.axios.put(`${this.userRoute}/${this.profile.id}/update_with_password`, this.profile)
          .then(response => {
            this.$router.push('/')
            this.errorMessage(-1, Password_Shanged_Success, 'success')
          })
          .catch(e => {
            if (e.response.status === 406) {
              this.errorMessage(-1, Password_Changed_Error)
              return false
            }
            this.errorMessage(e.request.status, e)
          })
      })
    },

    resetForm () {
      this.userForm.resetFields()
    }
  },
  created () {
    this.profile.id = this.$store.state.current_user.profile_id
  }
}
</script>
<style>
  .passwordValidation{
    background-color: wheat;
    margin-left: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .title {
    font-weight: bold;
    font-size: 110%
  }
  .passListElement {
    padding-top: 15px;
  }
  .pgp__link {
    color: black;
  }
</style>
