<template>
  <el-row>
    <el-col
      :span="18"
      :offset="3">
      <el-card class="box-card">
        <el-row
          slot="header"
          class="clearfix">
          <el-col :span="12">
            Show {{ userType }}
          </el-col>
          <el-col
            :span="12"
            class="text-right">
            <el-button-group>
              <el-button
                type="primary"
                class="button-flat"
                @click="goBack">
                <font-awesome-icon
                  icon="chevron-left"
                  size="2x" />
              </el-button>
              <el-button
                type="success"
                class="button-flat"
                @click="editPage">
                <font-awesome-icon
                  icon="edit"
                  size="2x" />
              </el-button>
            </el-button-group>
          </el-col>
        </el-row>
        <el-row
          v-if="getUser"
          :gutter="20">
          <el-col
            :span="24"
            class="custom-table">
            <table>
              <tbody>
                <tr>
                  <td class="bold width-250">
                    Title
                  </td>
                  <td>{{ user.title }}</td>
                </tr>
                <tr>
                  <td class="bold width-250">
                    First Name
                  </td>
                  <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                  <td class="bold width-250">
                    Last Name
                  </td>
                  <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                  <td class="bold width-250">
                    Email
                  </td>
                  <td>{{ user.email }}</td>
                </tr>
              </tbody>
            </table>
          </el-col>
        </el-row>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
export default {
  props: ['userRoute', 'userType'],
  data () {
    return {
      getUser: false,
      imageUrl: false,
      user: {},
    }
  },
  created () {
    const id = this.$route.params.id
    this.findUser(id)
  },
  methods: {
    findUser (id) {
      this.axios.get(this.userRoute + '/' + id)
        .then(response => {
          this.getUser = true
          this.user = this.deserializer(response.data)
          this.imageUrl = this.isBlank(this.user.attachment) ? '' : this.downloadLink(this.user.attachment.id)
        })
        .catch(e => {
          this.errorMessage(e.request.status, e)
        })
    },
    editPage () {
      this.$router.push({ name: 'user_edit', params: { id: this.user.id } })
    },
    goBack () {
      this.$router.push({ name: 'user_index' })
    },
  },
}
</script>
