<template>
  <div id="app">
    <Nav />
    <router-view />
  </div>
</template>

<script>
  import Nav from "./menu/menu.vue"

  export default {
    data() {
      return {

      }
    },

    components: {
      Nav
    }
  };
</script>
