<template>
  <el-container>
    <el-header
      class="site-header"
      height="70px">
      <el-row>
        <el-col :span="3">
          <div class="title">
            <router-link to="/">
              <img
                :src="logo"
                style="padding-top: 15px" />
            </router-link>
          </div>
        </el-col>

        <el-col :span="8">
          <span v-if="current_user.role === 'author'">&nbsp;</span>
          <router-view
            v-else
            name="menu" />
        </el-col>

        <el-col :span="5">
          <el-menu
            mode="horizontal"
            :default-active="activeIndex"
            style="float: right; background-color: #112a38">
            <el-submenu
              popper-class="header-customized-menu"
              index="2"
              class="user">
              <template slot="title">
                <div class="profile">
                  <div class="profile__details">
                    <div>{{ truncate(current_user.full_name, 28) }}</div>
                    <div
                      v-if="current_user.role === 'author'"
                      style="color: #95989c">
                      {{ truncate(selectedCompany.name, 25) }}
                    </div>
                    <div
                      v-else
                      style="color: #95989c">
                      {{ current_user.role }}
                      <span
                        v-for="role in user.extra_roles"
                        :key="role">
                        - {{ role }}
                      </span>
                    </div>
                  </div>
                  <div>
                    <div
                      class="profile__abbr-name">
                      {{ abbrName.firstName }}
                      {{ abbrName.lastName }}
                    </div>
                  </div>
                </div>
              </template>

              <el-menu-item-group
                class="site-header__langs"
                id="site-header__langs">
                <el-menu-item
                  v-for="languageFlag in languageFlags"
                  :key="languageFlag.name">
                  <el-button
                    class="site-header__lang-item"
                    size="mini"
                    type="text"
                    :disabled="selectedLanguage === languageFlag.name"
                    @click="selectedLanguage = languageFlag.name">
                    <img :src="languageFlag.flagPath" />
                  </el-button>
                </el-menu-item>
              </el-menu-item-group>

              <el-menu-item
                index="2-1"
                @click="setting">
                Setting
              </el-menu-item>

              <el-menu-item-group
                class="site-header__author-companies"
                v-if="current_user.role === 'author'"
                title="Your companies">
                <el-menu-item
                  :class="{
                    'is-active': selectedCompany.name === company.name,
                  }"
                  v-for="(company, index) in current_user.companies"
                  :key="company.id"
                  :index="'2-' + (5 + index)"
                  @click="switchCompany(company)">
                  {{ company.name }}
                </el-menu-item>
              </el-menu-item-group>

              <el-menu-item
                id="header-logout"
                index="2-4"
                @click="logout">
                <i class="el-icon-switch-button" />
                Logout
              </el-menu-item>
            </el-submenu>
          </el-menu>
        </el-col>
      </el-row>
    </el-header>
    <el-main>
      <el-row>
        <el-col :span="24">
          <div class="grid-content bg-purple">
            <router-view />
          </div>
        </el-col>
      </el-row>
    </el-main>
    <ticket-preview />

    <el-dialog
      title="Create task"
      :visible.sync="taskFormVisible"
      width="60%"
      append-to-body
      custom-class="taskFormDialog">
      <new-task
        v-if="taskFormVisible"
        @close-modal="taskFormVisible = false" />
    </el-dialog>
  </el-container>
</template>

<script>
import profile from 'assets/images/profile.jpg'
import logo from 'assets/images/dg-logo-white.svg'
import kivancSemen from 'assets/images/author/kivanc_semen.png'
import TicketPreview from './time_tracking/button'
import NewTask from './general-components/new-task'

// language flags
import de from 'assets/images/language-flags/de.svg'
import en from 'assets/images/language-flags/en.svg'

export default {
  components: {
    TicketPreview,
    NewTask,
  },
  data () {
    return {
      taskFormVisible: false,
      activeIndex: '1',
      user: this.$store.state.current_user,
      profile,
      kivanc: kivancSemen,
      logo: logo,
      timer: null,
      total_timer: null,
      ticket_id: null,
      languageFlags: [
        {
          name: 'de',
          flagPath: de,
        },
        {
          name: 'en',
          flagPath: en,
        },
      ],
      selectedCompany: {
        id: null,
        name: '',
      },
      selectedLanguage:
        this.$route.query.locale || document.documentElement.lang,
    }
  },
  computed: {
    questionnareLink () {
      let url = this.$store.getters.getDataguardConfigs('my_url')
      if (this.isBlank(url)) {
        return 'https://my.dataguard.de'
      }
      return url.description
    },
    getTicketAction () {
      return this.$store.getters.getTicketAction
    },
    currentRunningTask () {
      return this.$store.getters.currentRunningTask
    },
    modal: {
      get () {
        return this.$store.getters.getTicketModalState
      },
      set (value) {
        this.$store.commit('setTicketModalState', value)
      },
    },
    selectedAuthorCompany () {
      return this.$store.getters.selectedAuthorCompany
    },
    abbrName () {
      const splitFullName = this.current_user.full_name.split(' ')
      const firstName = splitFullName && splitFullName[0] ? splitFullName[0] : ''
      const lastName = splitFullName && splitFullName[1] ? splitFullName[1] : ''

      return {
        firstName: firstName.charAt(0).toUpperCase(),
        lastName: lastName.charAt(0).toUpperCase(),
      }
    },
  },
  watch: {
    currentRunningTask () {
      if (!this.currentRunningTask.active) {
        clearInterval(this.interval)
      } else {
        this.timeCounter()
      }
    },
    getTicketAction (value) {
      if (!value) return
      if (value.action === 'ticket-stop-tracking-completed') {
        this.$store.commit('clearRunningTask')
        clearInterval(this.interval)
      }
    },
    selectedLanguage (newLocale) {
      if (!newLocale) return
      if (this.$route.query.locale === undefined) this.$route.query.locale = ''
      this.$route.query.locale = newLocale
      let url = window.location.href.split('?')[0]
      let index = 0
      for (let query in this.$route.query) {
        if (index === 0) {
          url = url + '?'
        } else {
          url = url + '&'
        }
        index = index + 1
        url = url + query + '=' + this.$route.query[query]
      }
      window.location.href = url
    },
  },
  created () {
    this.timeCounter()
    if (this.current_user.role === 'author') {
      this.switchCompany(this.selectedAuthorCompany)
    }
  },
  beforeDestroy () {
    clearInterval(this.interval)
  },
  methods: {
    stopTracking () {
      this.modal = { view: true, id: this.ticket_id }
      this.$store.commit('setTicketAction', {
        action: 'ticket-stop-clicked',
        ticket_id: this.ticket_id,
      })
    },
    logout () {
      this.axios.delete('/users/sign_out').then(() => {
        window.location.href = '/auth'
      })
    },
    timeCounter () {
      if (this.currentRunningTask.active) {
        this.ticket_id = this.currentRunningTask.ticket_id
        let TimeSpent = this.currentRunningTask.start_time
        let TotalTimeSpent = this.currentRunningTask.total_time
        this.interval = setInterval(() => {
          TimeSpent++
          TotalTimeSpent++
          this.timer = this.formatTime(TimeSpent)
          this.total_timer = this.formatTime(TotalTimeSpent)
        }, 1000)
      }
    },
    setting () {
      this.$router.push({ name: 'user_setting' })
    },
    outOfOffice () {
      this.$router.push({ name: 'out_of_office' })
    },
    fetchCompany (companyId) {
      this.axios
        .get(this.$apiRoutes.company + '/' + companyId)
        .then(response => {
          this.company = this.deserializer(response.data)
          this.$store.commit('switchauthorCompany', this.company)
          this.$router.push({ name: 'index' })
        })
        .catch(e => {
          this.errorMessage(e.request.status, e)
        })
    },
    switchCompany (company) {
      if (this.isBlank(company)) {
        this.selectedCompany = this.current_user.companies[0]
      } else {
        this.selectedCompany = this.current_user.companies.find(
          userCompany => parseInt(userCompany.id) === parseInt(company.id)
        )
      }
      this.fetchCompany(this.selectedCompany.id)
    },
  },
}
</script>

<style lang="scss">
.el-header {
  li.el-menu-item {
    padding: 0;
  }

  li.el-menu-item a {
    display: block;
    text-decoration: none;
    color: #b9b9bc;
    padding: 0 10px;
  }
}

.el-menu--horizontal .el-menu-item a {
  display: block;
  text-decoration: none;
  color: #b9b9bc;

  &:visited {
    text-decoration: none;
    color: inherit;
  }
}
</style>
