<template>
	<div class="demo-image__placeholder">
		<div class="block">
	    <el-image :src="src">
	    </el-image>
	    <div>
	    	<el-input
	    		class="search"
	    		placeholder="Search"
	    		v-model="search">
	    		<i slot="suffix" class="el-input__icon el-icon-search"></i>
	    	</el-input>
	    </div>
		</div>

    <hr>
    <p>Users</p>
    <el-row :gutter="12" style="margin: 20px 0 20px 0;">
      <el-col :span="6" v-for="user in users">
        <el-card shadow="always">
          {{user.attributes.name}}
        </el-card>
      </el-col>
    </el-row>

    <hr>
    <p>Posts</p>
    <el-row :gutter="12" style="margin: 20px 0 20px 0;">
      <el-col :span="6" v-for="adv in posts">
        <el-card shadow="always">
          {{adv.attributes.job_title}}
        </el-card>
      </el-col>
    </el-row>
	</div>

</template>


<script>
  export default {
    data() {
      return {
      	src: 'https://www.sobelins.com/wp-content/uploads/2014/08/homepage-categories-background.jpg',
      	search: '',
        users: [],
        posts: [],
        companies: []
      }
    },

    methods: {
      fetchUsers() {
        this.axios.get('http://localhost:3000/api/v1/users')
          .then(response => {
            this.users = response.data.data
        })
      },

      fetchPost() {
        this.axios.get('http://localhost:3000/api/v1/posts')
        .then(response => {
          this.posts = response.data.data
            // console.log(response)
        })
      },

      fetchCompany() {
        this.axios.get('http://localhost:3000/api/v1/companies')
          .then(response => {
            this.companies = response.data.data
            console.log(response)
          })
      }
    },

    created() {
      this.fetchUsers()
      this.fetchPost()
      this.fetchCompany()
    }
  };
</script>

<style>
  img {
    width: 100%;
    height: 450px;
  }

  .header {
    text-align: center;
    position: relative;
    display: inline-block;
  }

  .search {
		width: 30%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  margin: 250px 0 0 500px;
	  display: flex;
	  align-items: center;
  }
</style>
