<template>
  <div id="app">
    <el-menu
      :default-active="activeMenu"
      class="el-menu-demo"
      mode="horizontal"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#3AFF00">
      <el-menu-item>Weblog</el-menu-item>
      <router-link to="/">
      <el-menu-item index="2" class="pull_right">
       HOME  </el-menu-item>
      </router-link>
      <router-link to="/sign_in">
        <el-button
          style="margin-top: 10px;"
          @click="openAuthPage"
          class="pull_right"
          type="primary"
          size="small"> Sign in  --  Sign up
        </el-button>
      </router-link>
    </el-menu>
  </div>
</template>

<script>

  export default {
    data() {
      return {
        activeMenu: '2',
      }
    },
    methods: {
      openAuthPage () {

      }
    }
  };
</script>

<style>
  .pull_right {
    float: right !important;
  }
</style>
