$--color-primary: teal;
$--color-red: #c43544;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--xs-screen-size: '768px';
$--sm-screen-size: '992px';
$--md-screen-size: '1200px';
$--lg-screen-size: '1920px';
$--xl-screen-size: '1920px';
