@charset "UTF-8";
@import 'variables';
@import 'common.scss';
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

body {
    background-color: rgb(220, 220, 220);
}

.language-switcher {
    position: absolute;
    background: #b7b7b7;
    color: #455660;
    padding: 7px 10px;
    border-radius: 45px;
    width: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    right: 17px;
    top: 10px;
    z-index: 100;
    img {
      margin: 0 10px 0 0;
    }
}

.auth {
    width: 100%;
    height: 100%;
    min-height: 700px;
    position: relative;
    @extend .ver-ali-center;
    &__box {
        background: #fff;
        min-height: 300px;
        @media (max-width: $--sm-screen-size) {
            min-height: auto;
        }
        min-width: 100%;
        border: 1px solid rgb(200, 200, 200);
        box-shadow: 0px 0px 46px 4px rgba(163, 163, 163, 0.4);
    }
    &__cover {
        background: url(../images/auth-cover.jpg);
        min-height: 450px;
        height: 100%;
        width: auto;
        background-size: cover;
    }
    &__content {
        @extend .ver-ali-center;
        padding: 1rem 4rem;
        min-height: 500px;
        @media (max-width: $--sm-screen-size) {
            padding: 2rem 2rem;
        }
    }
}

.auth-section {
    position: relative;
    @extend .full-width;
    &__title {
        @media (max-width: $--sm-screen-size) {
            text-align: center;
        }
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        span {
            color: #112a38 !important;
        }
    }
    .messages {
        color: #f56c6c;
        font-size: 0.8rem;
    }
    .el-form-item__label,
    .el-checkbox__label {
        color: #858585;
        font-size: 0.6rem !important;
    }
    .el-form-item__label {
        padding-bottom: 3px;
    }
}

.login {
    .el-checkbox__label {
        font-size: 0.6rem !important;
    }
    .c-checkbox {
        border-radius: 4px;
        .el-checkbox__inner {
            &:hover {
                border-color: #c0c4cc;
            }
        }
    }
    .remember-me {
        justify-content: flex-end;
    }
    &__forget-password {
        margin-top: 90px;
        @extend .gray-link;
        @media (max-width: $--sm-screen-size) {
            margin-top: 20px;
            text-align: center;
        }
    }
}

.forgot-password {
    .back-to-login {
        justify-content: flex-end;
    }
}

.new-password {
    .el-popover__title {
        @extend .bold;
    }
}

.gray-link {
    a {
        color: #858585;
        text-decoration: none;
        font-size: 0.8rem;
        &:hover {
            color: #858585;
        }
    }
}
