@import 'variables';
@import 'header';
// @import 'css_reset';
@import '~element-ui/packages/theme-chalk/src/index';
@import '~element-ui/packages/theme-chalk/src/display';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

body {
  font-family: 'Open Sans';
  background-color: #bbbcbe;
  padding: 0;
  margin: 0;
}

.button {
  text-align: center;
  button {
    border-color: #112a38;
    border-radius: 1px;
  }
  .submit {
    background-color: #112a38;
  }
}

.ql-picker-label {
  display: flex !important;
}

.capitalize {
  text-transform: capitalize;
}

.small-cops {
  font-variant: small-caps;
  font-size: 1rem;
}
.company_section {
  margin-bottom: 10px;
}
.company_section .el-card__body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.company_section .el-collapse {
  border: 0px;
}

.section_header {
  font-variant: small-caps;
  font-size: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.advanced_search {
  margin-top: 10px;
}

.el-popover {
  min-width: 90px;
}

.taskFormDialog {
  background-color: #dae1ef;
  .el-dialog__header {
    background-color: #305089;
    .el-dialog__title {
      color: white;
    }
  }
  .el-dialog__body {
    background-color: #fff;
  }
}
.vip_detail_show {
  color: #1a918f;
  font-size: 11px;
}
.avatar-uploader {
  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    text-align: center;
  }
  .avatar {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.text-decoration {
  -webkit-text-decoration-line: line-through; /* Safari */
  text-decoration-line: line-through;
}

// text align
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

// no-*
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-shadow {
  box-shadow: 0 0 !important;
}

$sizes: 0 5 10 15 20 30 40 50 60 70 80 90 100 150 200 250;
@each $i in $sizes {
  .m#{$i} {
    margin: #{$i}px !important;
  }
  .mt#{$i} {
    margin-top: #{$i}px !important;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .mr#{$i} {
    margin-right: #{$i}px !important;
  }
  .ml#{$i} {
    margin-left: #{$i}px !important;
  }
}

@each $i in $sizes {
  .p#{$i} {
    padding: #{$i}px;
  }
  .pt#{$i} {
    padding-top: #{$i}px;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px;
  }
  .pr#{$i} {
    padding-right: #{$i}px;
  }
  .pl#{$i} {
    padding-left: #{$i}px;
  }
}

@each $i in $sizes {
  .width-#{$i} {
    width: #{$i}px;
  }
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

/*---------------------------------
  Alignment
----------------------------------*/
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.ver-ali-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mg-centralize {
  margin: 0 auto;
}

/*---------------------------------
  Typography
----------------------------------*/
.underline {
  text-decoration: underline;
}
.normal-we {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

/*---------------------------------
  Colors
----------------------------------*/
.color {
  &-gray {
    color: #9e9e9e;
  }
  &-red {
    color: #c43544;
  }
}

/*---------------------------------
  Background
----------------------------------*/
.background {
  &-dark-blue {
    background-color: #112a38 !important;
    border-color: #112a38 !important;
  }
  &-crimson {
    background-color: #c63040 !important;
    border-color: #c63040 !important;
  }
}

/*---------------------------------
  Button
----------------------------------*/
.button {
  &-flat {
    border-radius: 0% !important;
  }
}

/* --------------------------
    Table (Not in ElementUI)
--------------------------- */
.custom-table {
  table {
    width: 100%;
    border-collapse: collapse;
  }
  td,
  th {
    text-align: left;
    padding: 12px 5px;
    border-bottom: 1px solid #dddddd;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}

/* --------------------------
    Overwrite framework classes
--------------------------- */
.el-button {
  &--c-btn-red {
    background-color: #c63040;
    border-color: #c63040;
    color: #ffffff;
    &:hover {
      background-color: #cf3646;
      border-color: #cf3646;
      color: rgb(240, 240, 240);
    }
    &:focus {
      background-color: #cf3646;
      border-color: #cf3646;
      color: rgb(240, 240, 240);
    }
    &:active {
      color: #fff;
      border-color: #fff;
    }
  }
}
.el-inp-large {
  .el-input__inner {
    padding: 21px;
    width: 100%;
    margin: 0;
    &:focus {
      border-color: #c0c4cc;
    }
  }
}
/* --------------------------
    Alone tags
--------------------------- */
.demo-color-box {
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px 0;
  height: 74px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
}

span.el-tag.el-tag--info.el-tag--small {
  white-space: normal;
  height: auto;
}

.scroll-horizontal-table {
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}


/* ------------------------
      Select Tag
------------------------ */

.option-with-image {
  display: flex;
  height: 45px;
  line-height: 45px;

  img {
    padding-right: 20px
  }
}
