html,
body {
    min-height: 100vh;
    background-color: #fff;
}

/*---------------------------------
  Customer
----------------------------------*/

.el-main {
    background-color: #fff;
    padding: 0;
}

// Welcome Page
.welcome-page {
    background: #566470;
    padding-top: 40px;
    height: calc(100vh - 60px - 40px);
    min-width: 100%;
    display: flex;
    align-items: center;
    &__avatar {
        text-align: center;
        img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            margin: -75px auto 0 auto;
        }
    }
    &__box {
        width: 700px;
        min-height: 300px;
        background: #fff;
        border-radius: 10px;
        margin: auto;
    }
    &__content {
        text-align: center;
        padding: 0 50px 50px 50px;

        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 12px;
        text-align: center;

        color: #112A38;
    }
    &__footer {
        border-top: 1px solid rgba(150, 150, 150, 0.2);
        width: 100%;
        .el-button {
            margin: 30px;
        }
    }
    .thanks {
      .best_regards {
        margin: 0;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 13px;
        text-align: center;

        color: #858585;
      }
      .project_name {
        margin: 0;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 15px;
        text-align: center;

        color: #112A38;
      }
      .project_title {
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 15px;
        text-align: center;

        color: #112A38;
      }
    }
}

.customer-main {
    background-color: transparent !important;
    padding: 0 50px 20px 20px;
    color: rgba($color: #000000, $alpha: 0.7);
    position: relative;
    .el-card {
        box-shadow: 0 0 49px rgba(0, 0, 0, 0.1) !important;
        border-radius: 15px;
        border: none;
        &__header {
            padding: 0px;
            border-bottom: 0px;
        }
        &__head,
        .gray-title {
            background: #fff;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(150, 150, 150, 0.2);
            padding: 1.3em 2em;
            height: inherit !important;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            // &:before {
            //     content: '';
            //     position: absolute;
            //     left: 9px;
            //     top: 29px;
            //     margin-left: 0px;
            //     color: #fff;
            //     width: 0;
            //     height: 0;
            //     border-top: 10px solid transparent;
            //     border-right: 12px solid white;
            //     border-bottom: 10px solid transparent;
            // }
            .title {
                color: inherit;
                display: inline-block;
            }
        }
        &__body {
            min-height: 300px;
            padding: 0 2em 6em;
        }
        .el-icon-edit {
            padding-top: 9px;
        }
        .gray-title {
            padding: 2em 1em 0 1em;
            background: #8796a5;
            color: #9faab7;
            &:before {
                border-right-color: #8796a5;
            }
            .title-parent {
                position: relative;
                height: 100%;
                display: block;
            }
            .title {
                position: absolute;
                bottom: 0;
                margin-left: 90px;
            }
            .title-picture {
                display: inline-block;
                position: relative;
                img {
                    position: absolute;
                    top: -30px;
                    border-radius: 50%;
                    width: 70px;
                    height: 70px;
                    border: 4px solid #fff;
                }
            }
        }
    }
    .el-footer {
        padding: 0;
        margin-top: 20px;
        border-top: 1px solid rgba(150, 150, 150, 0.2);
        height: inherit !important;
        padding: 20px;
    }
    &__avatar {
        margin-right: 30px;
        vertical-align: top;
        img {
            width: 75px;
            height: 75px;
            padding: 0 20px;
            border-radius: 50%;
        }
    }
}

.customer-sidebar {
    background: #1b2b3c;
    padding-bottom: 30px;
    a {
        text-decoration: none;
        color: inherit;
    }
    .footer-links {
      color: #9b9ba1;
      line-height: 60px;
      position: fixed;
      bottom: 0;
      left: 30px;
      a {
        margin-right: 10px
      }
    }
    &__header {
        background: #fff;
        padding: 15px 0 15px 10px;
    }
    &__user-icon {
        border: 1px solid #1b2b3c;
        border-radius: 50%;
        padding: 5px;
        margin-right: 10px;
        span {
            width: 20px;
            height: 20px;
        }
    }
    &__nav {
        width: 100%;
        color: #c0c7cb;
        list-style-type: none;
        padding: 0px;
        margin: 0;
        a,
        span {
            vertical-align: middle;
            position: relative;
            color: #c0c7cb;
            text-decoration: none;
            margin: 0 30px;
            padding: 15px 20px;
            border-left: 1px solid #66788b;
            display: inline-block;
            &:before {
                content: '';
                width: 6px;
                height: 6px;
                position: absolute;
                top: 43%;
                left: -4px;
                border-radius: 3px; // background-color: #69b6d5;
                background-color: #1b2b3c;
                border: 1px solid #66788b;
                z-index: 10;
            }
        }
        li {
            display: block;
            position: relative;
            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }
        }
        >li:last-child,
        >li:first-child {
            a {
                border-left: none;
                &:after {
                    content: '';
                    position: absolute;
                    height: 50%;
                    top: 0;
                    left: 0;
                    width: 1px;
                    background-color: #66788b;
                    z-index: 1;
                }
            }
        }
        >li:first-child {
            a {
                &:after {
                    bottom: 0;
                    top: unset;
                }
            }
        }
        li.active {
            background: #445461;
            a,
            span {
                &:before {
                    background-color: #66788b;
                    border: 1px solid #66788b;
                }
            }
            ul {
                background: #1b2b3c;
            }
        }
    }
    &__nav-check-icon {
      position: absolute;
      top: 15px;
      right: 30px;
    }
    &__subnav {
        padding: 0px;
        li {
            a,
            span {
                padding-left: 40px;
                &:before {
                    border-bottom: 1px solid #66788b;
                    width: 20px;
                    height: 1px;
                    background: transparent;
                    left: 0px;
                    top: 47%;
                    border-right: 0;
                    border-top: 0;
                    border-left: 0;
                }
            }
        }
    }
}

.customer-audit-area {
    .section-title {
        width: 100%;
        height: 1px;
        background-color: rgba(56, 56, 56, .3);
        position: relative;
        background: rgba(56, 56, 56, .3);
        margin: 70px 0;
        .circle {
            background-color: white;
            border: solid 1px rgba(56, 56, 56, .3);
            color: rgba(56, 56, 56, .3);
            border-radius: 50%;
            position: absolute;
            top: -50px;
            left: calc(50% - 50px);
            width: 100px;
            height: 100px;
            vertical-align: middle;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    p {
        margin: 8px 0;
    }
    .container {
        width: 85%;
        margin: auto;
    }
    .large-container {
      width: 95%;
      margin: auto;
    }
    &__edit-avatar {
        text-align: center;
    }
    &__person-content {
        background: #f3f3f3;
        border-radius: 8px;
        padding: 1em 0;
        margin: 1em 0;
        width: 100%;
        color: rgba(0, 0, 0, 0.7);
    }
    &__customer-input {
        position: relative;
        margin: 30px 0;
        padding: 0 10px;
        .el-select {
            display: block;
        }
        label {
          position: absolute;
          top: -20px;
          z-index: 99;
          left: 25px;
          background: #fff;
          overflow: hidden;
          font-weight: bold;
          max-width: calc(100% - 50px);
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .el-input__inner {
            border-radius: 0px;
            padding: 25px;
        }
        .el-form-item.is-required:not(.is-no-asterisk) .el-tooltip.item:after {
            content: "*";
            color: #f56c6c;
            margin-left: 4px;
        }
    }
    .el-input.is-disabled .el-input__inner {
      background-color: #fff !important
    }
}

.box-card {
  .footer {
    position: absolute;
    bottom: 30px;
    width: -webkit-calc(100% - 4em);
    width:    -moz-calc(100% - 4em);
    width:         calc(100% - 4em);
  }
}
/*---------------------------------
  Default
----------------------------------*/

.el-main {
    background-color: #fff;
    min-height: -webkit-calc(100vh - 85px);
    min-height:    -moz-calc(100vh - 85px);
    min-height:         calc(100vh - 85px);
}

.question-message {
    &.user .profile img {
        width: 56px;
        height: 52px;
        margin-top: 2px;
    }
    &.user .profile .detail {
        padding-top: 5px;
    }
    .question-txt-style {
        font-size: 16px;
        color: #8c8796;
        font-weight: lighter;
    }
    .phone-nr-txt {
        font-size: 18px;
        color: #fff;
        line-height: 20px !important;
        text-align: left;
    }
}

.selected-company {
    .customer-name {
        font-size: 18px;
        color: #ffffff;
    }
    .customer-company-name {
        font-size: 16px;
        color: #8c8796;
    }
}

/*---------------------------------
  Team Introduction
  ----------------------------------*/

.team {
    text-align: center;
    .team-image {
        margin: auto;
        &.image-bg {
            width: 120px;
            height: 120px;
            padding: 10px;
            border-radius: 50%;
            box-shadow: 3px 0px 47px -10px rgba(0, 0, 0, 0.75);
            background-repeat: no-repeat;
            background-size: 150%;
            background-position-x: -30px;
            background-position-y: -3px;
        }
        img {
            width: 100px;
            height: 100%;
            max-height: 110px;
            border-radius: 50%;
        }
    }
    .team-detail {
        .title {}
        .name {
            font-size: 16px !important;
            font-weight: bold !important;
            color: #474350;
        }
    }
}

.company-package {
    text-align: center;
    .package {
        width: 100%;
        max-width: 220px;
        margin: auto;
        padding: 50px 0;
        background-color: #eeeff1;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-weight: bold;
        color: #000;
    }
}

#expert-teams-box {
    width: 100%;
    max-width: 350px;
    height: 600px;
    background-color: #eeeff1;
    vertical-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.expert-teams-subheader {
    font-size: 20px;
    width: 185px;
    padding-bottom: 10px;
    border-bottom: solid 2px #000000;
    margin-bottom: 5px !important;
}

#expert-teams-header-div {
    position: relative;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    height: 60px;
    background-color: #b5b3b3;
    box-shadow: 0px 2px 2px 0px #888;
    background-size: 15%;
    background-position-x: 220px;
    background-position-y: 16px;
    background-repeat: no-repeat;
}

#expert-teams-header {
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding-left: 30px;
}

#expert-teams-content-div {
    padding-left: 30px;
}

.expert-teams-content {
    margin: 40px 0;
    line-height: 5px;
}

.ablauf-info {
    img {
        width: 100%;
    }
}

.link-info-container {
    .link-info {
        display: block;
        width: 100%;
        height: 250px;
        text-align: center;
        background-color: #253e4c;
        text-decoration: none;
        .title {
            padding-top: 20px;
            color: #fff;
            font-size: 30px;
            height: 90px;
        }
    }
    .link-info:hover {
        background-color: #131c26;
    }
}

.angled-arrow-top {
    position: absolute;
    left: 36%;
    z-index: 100;
    top: 180px;
    width: 18%;
    height: 55px;
    background-image: url('../images/arrows/horizontal-arrow-short.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.angled-arrow-bottom {
    position: absolute;
    left: 36%;
    z-index: 100;
    top: 385px;
    width: 18%;
    height: 55px;
    background-image: url('../images/arrows/horizontal-arrow-short.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.pm-horizontal-arrow-short {
    position: absolute;
    top: 285px;
    height: 55px;
    background-image: url('../images/arrows/horizontal-arrow-short-smaller-screen.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.pm-horizontal-arrow-long {
    position: absolute;
    top: 285px;
    height: 55px;
    background-image: url('../images/arrows/horizontal-arrow-long.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.dpo-horizontal-arrow-top {
    position: absolute;
    top: 80px;
    height: 55px;
    background-image: url('../images/arrows/horizontal-arrow-short-smaller-screen.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.dpo-horizontal-arrow-bottom {
    position: absolute;
    top: 440px;
    height: 55px;
    background-image: url('../images/arrows/horizontal-arrow-short-smaller-screen.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 992px) and (max-width: 1799px) {
    .angled-arrow-top {
        transform: rotate(153deg);
    }
    .angled-arrow-bottom {
        transform: rotate(205deg);
    }
    .pm-horizontal-arrow-short {
        left: 18%;
        width: 11%;
    }
    .pm-horizontal-arrow-long {
        right: 29%;
        width: 34%;
    }
    .dpo-horizontal-arrow-top {
        right: 29%;
        width: 8%;
    }
    .dpo-horizontal-arrow-bottom {
        right: 29%;
        width: 8%;
    }
}

@media (min-width: 1800px) {
    .angled-arrow-top {
        transform: rotate(165deg);
    }
    .angled-arrow-bottom {
        transform: rotate(195deg);
    }
    .pm-horizontal-arrow-short {
        left: 17%;
        width: 13%;
    }
    .pm-horizontal-arrow-long {
        right: 29.5%;
        width: 34%;
    }
    .dpo-horizontal-arrow-top {
        right: 29.5%;
        width: 9%;
    }
    .dpo-horizontal-arrow-bottom {
        right: 29.5%;
        width: 9%;
    }
}
