$box-shadow: 0 9px 33px -4px rgba(0, 0, 0, 0.7);

.site-header {
  background-color: #112a38;
  box-shadow: $box-shadow;
  position: relative;
  z-index: 1;

  .title {
    line-height: 22px;
    color: #ffffff;
    margin-top: 7px;

    .company {
      font-size: 21px;
      font-weight: bold;
    }

    .country {
      font-size: 14px;
    }
  }

  .user {
    .profile {
      display: inline-flex;
      line-height: 22px;
      align-items: center;

      &__details {
        text-align: right;
        margin-right: 10px;
      }

      &__abbr-name {
        width: 45px;
        height: 45px;
        line-height: 45px;
        overflow: hidden;
        color: #fff;
        background-color: #cc003a;
        text-align: center;
        white-space: nowrap;
        border-radius: 50%;
      }

      img {
        width: 40px;
        height: 42px;
        border-radius: 50%;
        border: 2px solid #aaa;
        margin-top: 2px;
      }

      .detail {
        padding-left: 15px;
        font-size: 18px;
      }
    }

    .el-menu {
      left: auto !important;
      right: 0;
    }
  }

  .el-menu.el-menu--horizontal {
    border-bottom: none;
  }

  .el-submenu__icon-arrow {
    display: none;
  }

  .el-menu--horizontal > .el-menu-item,
  .el-menu--horizontal > .el-submenu .el-submenu__title {
    color: #fff;
    border-bottom: none;
    font-weight: bold;
    height: 70px;
    line-height: 70px;
  }

  .el-menu--horizontal > .el-menu-item.is-active,
  .el-menu--horizontal > .el-submenu.is-active .el-submenu__title,
  .el-menu-item:hover,
  .el-submenu__title:hover {
    &,
    a {
      border-bottom: none;
      background-color: #091218 !important;
      color: #fff !important;
    }
  }

  .el-menu--horizontal > .el-submenu:focus .el-submenu__title,
  .el-menu--horizontal > .el-submenu:hover .el-submenu__title {
    color: #fff;
    background-color: #091218 !important;
  }

  &__customer-companies {
    margin-bottom: 5px;

    .el-menu-item-group__title {
      color: $--color-primary;
      padding: 15px 25px 15px !important;
      font-size: 14px;
    }

    .el-menu-item.is-active:before {
      content: '\e6da';
      font-family: element-icons !important;
      position: absolute;
      left: 15px;
      top: 50%;
      margin-top: -18px;
    }
  }

  &__langs {
    padding: 3px;
    text-align: right;
    border-bottom: 1px solid #dedede;

    .el-menu-item-group__title {
      display: none;
    }

    .el-menu-item {
      display: inline-block;
      margin-left: 12px;
    }
  }

  &__lang-item {
    width: 35px;
    overflow: hidden;
    padding: 3px !important;

    &.is-disabled {
      opacity: 0.5;
      box-shadow: none;
    }

    &:not(.is-disabled):hover {
      background-color: #e5e5e5 !important;
    }
  }
}

#site-header__langs {
  .el-menu-item {
    padding: 0 !important;
    height: auto !important;
    line-height: 1;
  }
}

#header-logout {
  border-top: 1px solid #dedede;

  &,
  i {
    color: $--color-red !important;
  }

  i {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -9px;
  }
}

.el-menu-item a {
  outline: none;
}

.header-menu.el-menu {
  .el-menu-item a {
    color: white;
    text-decoration: none;
  }
}

.el-submenu {
  &__title {
    padding: 0 15px !important;
  }
}

.header-customized-menu {
  .el-menu-item,
  a,
  .el-submenu__title,
  .el-menu {
    background-color: #fff !important;
    color: #6a6a6a !important;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    font-weight: bold;
  }

  .el-menu--popup {
    margin-top: 0 !important;
  }

  .el-menu-item.is-active,
  .el-menu-item:hover,
  .el-submenu__title:hover {
    &,
    a {
      background-color: #e5e5e5 !important;
    }
  }

  .el-menu--popup {
    box-shadow: $box-shadow;
    border: 1px solid #dedede;
  }

  .el-menu .el-menu-item,
  .el-menu .el-submenu__title {
    padding: 0 35px 0 !important;
  }
}

.el-message__content {
  line-height: 1.5rem !important;
  padding-left: 10px !important;
}
