@import 'variables';
.snapshot {
  &__title {
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding-bottom: 30px;
    color: #b5bbc1;
    i {
      color: rgb(100, 100, 100);
      margin-right: 10px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  &__item {
    padding: 10px 0;
    i {
      margin-right: 10px;
    }
  }
  &__time {
    color: rgb(200, 200, 200);
    margin-left: 15px;
    border-bottom: 1px dotted;
    padding-bottom: 2px;
  }
  a {
    color: #606266;
    text-decoration: none;
  }
}

.scroll-horizontal-table {
  white-space: nowrap;
  overflow-x: scroll;
}