<template>
  <div class="full-height">
    <div
      v-if="selectedLanguage === 'de'"
      class="language-switcher"
      @click="selectedLanguage = 'en'">
      <img
        width="20"
        :src="earchIcon" />
      English
    </div>
    <div
      v-else
      class="language-switcher"
      @click="selectedLanguage = 'de'">
      <img
        width="20"
        :src="earchIcon" />
      Deutsch
    </div>
    <div class="auth">
      <el-row
        type="flex"
        class="row-bg full-width"
        justify="center">
        <el-col
          :xs="23"
          :sm="17"
          :md="13">
          <div class="auth__box">
            <el-row type="flex">
              <!-- Auth content -->
              <el-col
                :md="15"
                :sm="24">
                <div class="auth__content">
                  <router-view />
                </div>
              </el-col>
              <!-- Auth cover photo -->
              <el-col
                :md="9"
                class="hidden-sm-and-down">
                <div class="auth__cover" />
              </el-col>
            </el-row>
          </div>
          <div class="auth__logo text-center">
            <img
              :src="logo"
              width="200"
              height="auto"
              style="margin-top: 10px" />
          </div>
        </el-col>
      </el-row>
    </div>
    <el-container>
      <el-footer v-if="selectedLanguage === 'en'">
        <a
          href="https://www.dataguard.de/en/privacy-policy/"
          target="_blank">
          {{ tr('auth.privacy_policy') }}
        </a>
        <a
          href="https://www.dataguard.de/en/legal-notice/"
          target="_blank">
          {{ tr('auth.impressum') }}
        </a>
      </el-footer>
      <el-footer v-else>
        <a
          href="https://www.dataguard.de/de/privacy-policy/"
          target="_blank">
          {{ tr('auth.privacy_policy') }}
        </a>
        <a
          href="https://www.dataguard.de/de/legal-notice/"
          target="_blank">
          {{ tr('auth.impressum') }}
        </a>
      </el-footer>
    </el-container>
  </div>
</template>

<script>
import logo from 'assets/images/Logo_without_name.png'
import earchIcon from 'assets/images/symbols/earth.svg'

export default {
  data () {
    return {
      appName: 'Auth',
      logo: logo,
      earchIcon: earchIcon,
      selectedLanguage: this.$route.query.locale || document.documentElement.lang,
    }
  },
  watch: {
    selectedLanguage (newLocale) {
      if (!newLocale) return
      if (this.$route.query.locale === undefined) this.$route.query.locale = ''
      this.$route.query.locale = newLocale
      let url = window.location.href.split('?')[0]
      let index = 0
      for (let query in this.$route.query) {
        if (index === 0) {
          url = url + '?'
        } else {
          url = url + '&'
        }
        index = index + 1
        url = url + query + '=' + this.$route.query[query]
      }
      window.location.href = url
    },
  },
}
</script>

<style>
  .el-footer {
    background-color: #fff;
    color: rgb(155, 155, 161);
    line-height: 60px;
    text-align: center;
    position: fixed;
    left: 0px;
    bottom:0px;
    width:100%;
  }
  .el-footer a {
    padding: 15px;
    font-size: 12px;
    color: inherit !important;
    opacity: 0.8;
    text-decoration: none;
  }
</style>
