<template>
  <div class="auth-section accept-invite">
    <div class="auth-section__title">
      <h2 class="mb0 normal-we inline-block">
        {{ tr('auth.messages.expired_invite_header') }}
      </h2>
      <h4>{{ tr('auth.messages.expired_invite_message') }}</h4>
    </div>
    <div class="mt10 mb10">
      <error-messages />
    </div>
    <el-button
      v-if="!successResent"
      type="c-btn-red"
      @click="sendNewInvitation">
      {{ tr('auth.invitation.new_invite') }}
    </el-button>
    <el-button
      v-else
      type="c-btn-red"
      @click="loginUser">
      {{ tr('auth.back_to_login') }}
    </el-button>
  </div>
</template>

<script>
import ErrorMessages from './errors'

export default {
  components: {
    ErrorMessages,
  },
  data () {
    return {
      successResent: false,
    }
  },
  computed: {
    invitationToken () {
      return this.$route.query.invitation_token
    },
  },
  created () {
    this.setAuthErrors({ errors: [], server: false })
  },
  methods: {
    sendNewInvitation () {
      let data = {
        reset_invite: true,
      }
      this.axios.put(this.$apiRoutes.invitation + '/' + this.invitationToken, data)
        .then(() => {
          this.successResent = true
          this.setAuthErrors({
            errors: {
              success_Message: [{ message: this.tr('auth.messages.resend_invitation_success') }],
            },
            server: false,
            type: 'success',
          })
        })
        .catch(error => {
          this.setAuthErrors({ errors: error, server: true })
        })
    },
    loginUser () {
      window.location.href = '/'
    },
  },
}
</script>
