<template>
  <div class="auth-section forgot-password">
    <div class="auth-section__title mb20">
      <h2 class="mb0 normal-we">
        {{ tr('auth.forgot_password') }}
      </h2>
    </div>
    <el-form
      ref="forgotPasswordForm"
      label-position="top"
      :model="user"
      label-width="80px"
      :rules="rules"
      @keydown.enter.native="submitForm">
      <el-form-item
        :show-message="false"
        prop="email"
        :label="tr('auth.email')">
        <el-input
          v-model="user.email"
          type="text"
          class="el-inp-large"
          required />
      </el-form-item>
      <div class="mt10 mb10">
        <error-messages />
      </div>
      <el-row type="flex">
        <el-col
          :xs="24"
          :sm="24"
          :md="10">
          <el-button
            type="c-btn-red"
            @click="submitForm">
            {{ tr('auth.send_instraction') }}
          </el-button>
        </el-col>
        <el-col
          :xs="24"
          :sm="24"
          :md="14"
          class="ver-ali-center back-to-login gray-link">
          <router-link to="/">
            {{ tr('auth.back_to_login') }}
          </router-link>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
import ErrorMessages from './errors'

export default {
  components: {
    ErrorMessages,
  },
  data () {
    return {
      user: {
        email: '',
      },
      rules: {
        email: [
          { type: 'email', message: this.tr('auth.messages.correct_email'), trigger: 'focus' },
          { required: true, message: this.tr('auth.messages.email'), trigger: 'focus' },
        ],
      },
    }
  },
  computed: {
    forgotPasswordForm () {
      return this.$refs.forgotPasswordForm
    },
  },
  created () {
    this.setAuthErrors({ errors: [], server: false })
  },
  methods: {
    submitForm () {
      this.forgotPasswordForm.validate((valid, errors) => {
        this.setAuthErrors({ errors: errors, server: false })
        if (!valid) return
        this.axios.post('/users/password', this.user)
        .then(() => {
          this.setAuthErrors({ errors: {
            email: [{ message: this.tr('auth.messages.send_password_instraction') }] },
            server: false,
            type: 'success',
          })
        })
        .catch(e => {
          this.setAuthErrors({ errors: e, server: true })
        })
      })
    },
  },
}
</script>
