<template>
  <div class="auth-section accept-invite">
    <div class="auth-section__title">
      <h2 class="mb0 normal-we inline-block">
        {{ tr('auth.invitation.welcome') }}
      </h2>
      <div class="inline-block">
        <el-popover
          v-model="popoverVisible"
          placement="right"
          :title="tr('auth.messages.specific_password')"
          width="300">
          <div style="text-align: left; margin: 0">
            {{ tr('auth.messages.least_8_chars') }}
            <br />
            {{ tr('auth.messages.lower_case') }}
            <br />
            {{ tr('auth.messages.upper_case') }}
            <br />
            {{ tr('auth.messages.numeric_character') }}
            <br />
            {{ tr('auth.messages.special_character') }}
          </div>
          <el-button
            slot="reference"
            type="text">
            <i class="el-icon-warning" />
          </el-button>
        </el-popover>
      </div>
      <h4>{{ invitedUser.email }}</h4>
      <h5>{{ tr('auth.messages.password') }}</h5>
    </div>
    <el-form
      ref="acceptInvitationForm"
      :model="user"
      :rules="rules">
      <div class="inputrange">
        <el-form-item
          :show-message="false"
          prop="password"
          :label="tr('auth.invitation.password')">
          <el-input
            v-model="user.password"
            type="password"
            class="el-inp-large"
            auto-complete="off" />
        </el-form-item>
        <el-form-item
          :show-message="false"
          prop="password_confirmation"
          :label="tr('auth.invitation.confirm_password')">
          <el-input
            v-model="user.password_confirmation"
            type="password"
            auto-complete="off"
            class="el-inp-large" />
        </el-form-item>
        <div class="mt10 mb10">
          <error-messages />
        </div>
        <el-button
          type="c-btn-red"
          class="mt20"
          @click="submitForm">
          {{ tr('auth.invitation.submit') }}
        </el-button>
      </div>
    </el-form>
  </div>
</template>

<script>
import ErrorMessages from './errors'

export default {
  components: {
    ErrorMessages,
  },
  data () {
    let validatePassword = (rule, value, callback) => {
      this.validSpecificPassword(value, callback)
      if (this.user.password_confirmation !== '') {
        this.$refs.acceptInvitationForm.validateField('password_confirmation')
      }
      callback()
    }
    let validateConfirmation = (rule, value, callback) => {
      if (this.isBlank(value)) {
        callback(new Error(this.tr('auth.messages.confirm_password')))
      } else if (value !== this.user.password) {
        callback(new Error(this.tr('auth.messages.not_match')))
      } else {
        callback()
      }
    }
    return {
      popoverVisible: false,
      invitedUser: {
        email: '',
        invitation_token: '',
      },
      user: {
        password: '',
        password_confirmation: '',
      },
      rules: {
        password: [
          { validator: validatePassword, trigger: 'blur' },
        ],
        password_confirmation: [
          { validator: validateConfirmation, trigger: 'blur' },
        ],
      },
    }
  },
  computed: {
    invitationToken () {
      return this.$route.query.invitation_token
    },
  },
  watch: {
    user: {
      handler () {
        this.$refs.acceptInvitationForm.validate((valid, errors) => {
          this.setAuthErrors({ errors: errors, server: false })
        })
      },
      deep: true,
    },
  },
  created () {
    this.fetchInvitedPerson()
    this.setAuthErrors({ errors: [], server: false })
  },
  methods: {
    fetchInvitedPerson () {
      this.axios.get(this.$apiRoutes.invitation + '/' + this.invitationToken)
        .then(response => {
          this.invitedUser = this.deserializer(response.data)
        })
        .catch(error => {
          try {
            if (error.response.status === 404) {
              this.$router.push({ name: 'notfound_invitation' })
            } else if (error.response.status === 405) {
              this.$router.push({
                name: 'expired_invitation',
                query: {
                  invitation_token: this.invitationToken,
                },
              })
            }
          } catch (tryError) {}

          this.setAuthErrors({ errors: error, server: true })
        })
    },
    submitForm () {
      this.$refs.acceptInvitationForm.validate((valid, errors) => {
        this.setAuthErrors({ errors: errors, server: false })
        if (!valid) return false
        this.axios.put(this.$apiRoutes.invitation + '/' + this.invitationToken, this.user)
          .then(() => {
            this.$router.push({ name: 'notfound_invitation' })
          })
          .catch(error => {
            this.setAuthErrors({ errors: error, server: true })
          })
      })
    },
  },
}
</script>
