<template>
  <div class="auth-section login">
    <div class="auth-section__title mb20">
      <p class="mb0 normal-we">
        Welcome
      </p>
      <h1 class="mt0 normal-we">
        Weblog
      </h1>
    </div>
    <el-form
      ref="loginPage"
      label-position="top"
      :model="user"
      label-width="80px"
      @keydown.enter.native="submitForm">
      <el-form-item
        prop="email"
        label="Email">
        <el-input
          v-model="user.email"
          type="text"
          class="el-inp-large"
          required />
      </el-form-item>
      <el-form-item
        prop="password"
        label="Password">
        <el-input
          v-model="user.password"
          type="password"
          class="el-inp-large"
          required />
      </el-form-item>
      <el-row type="flex">
        <el-col :span="8">
          <el-button
            type="c-btn-red"
            @click="submitForm">
            Login
          </el-button>
        </el-col>
        <el-col
          :span="16"
          class="ver-ali-center remember-me">
          <el-checkbox
            v-model="user.remember_me"
            class="c-checkbox">
            Remember Password
          </el-checkbox>
        </el-col>
      </el-row>
      <div class="mt10 mb10">
        <error-messages />
      </div>
      <div class="login__forget-password">
        <router-link to="/forgot_password">
          Forgot Password
        </router-link>
      </div>
    </el-form>
  </div>
</template>

<script>
import ErrorMessages from './errors'
export default {
  components: {
    ErrorMessages,
  },
  data () {
    return {
      user: {
        email: '',
        password: '',
        remember_me: false,
        SAMLRequest: '',
        RelayState: '',
      },
    }
  },
  created () {
    this.setAuthErrors({ errors: [], server: false })
  },
  methods: {
    submitForm () {
      this.user.SAMLRequest = this.$route.query.SAMLRequest
      this.user.RelayState = this.$route.query.RelayState

      this.axios.post('/users/sign_in', { user: this.user }).then(response => {
        if (!this.isBlank(this.user.SAMLRequest) && !this.isBlank(this.user.RelayState)) {
          let samlRoute = this.$apiRoutes.saml
          samlRoute += '?SAMLRequest=' + encodeURIComponent(this.user.SAMLRequest)
          samlRoute += '&RelayState=' + encodeURIComponent(this.user.RelayState)

          window.location.href = samlRoute
          return
        }
        switch (response.data.data.role) {
          case 'admin':
            window.location.href = '/admins'
            break
          case 'author':
            window.location.href = '/authors'
            break
        }
      }).catch(error => {
        this.setAuthErrors({ errors: error, server: true })
      })
    },
  },
}
</script>
