<template>
  <div class="auth-section new-password">
    <div class="auth-section__title mb20">
      <h2 class="mb0 normal-we inline-block">
        {{ this.tr('auth.new_password.change_password') }}
      </h2>
      <div class="inline-block">
        <el-popover
          placement="right"
          :title="tr('auth.messages.specific_password')"
          width="200">
          <div style="text-align: left; margin: 0">
            {{ tr('auth.messages.least_8_chars') }}
            <br />
            {{ tr('auth.messages.lower_case') }}
            <br />
            {{ tr('auth.messages.upper_case') }}
            <br />
            {{ tr('auth.messages.numeric_character') }}
            <br />
            {{ tr('auth.messages.special_character') }}
          </div>
          <el-button
            slot="reference"
            type="text">
            <i class="el-icon-warning" />
          </el-button>
        </el-popover>
      </div>
    </div>
    <el-form
      ref="newPasswordForm"
      label-position="top"
      :model="user"
      :rules="rules"
      @keydown.enter.native="submitForm">
      <el-form-item
        :show-message="false"
        prop="password"
        :label="tr('auth.new_password.password')">
        <el-input
          v-model="user.password"
          type="password"
          auto-complete="off"
          class="el-inp-large" />
      </el-form-item>
      <el-form-item
        :show-message="false"
        prop="password_confirmation"
        :label="tr('auth.new_password.confirm_password')">
        <el-input
          v-model="user.password_confirmation"
          type="password"
          auto-complete="off"
          class="el-inp-large" />
      </el-form-item>
      <div class="mt10 mb10">
        <error-messages />
      </div>
      <el-button
        type="c-btn-red"
        class="mt20"
        @click="submitForm">
        {{ tr('auth.invitation.submit') }}
      </el-button>
    </el-form>
  </div>
</template>

<script>
import ErrorMessages from './errors'

export default {
  components: {
    ErrorMessages,
  },
  data () {
    let validatePassword = (rule, value, callback) => {
      this.validSpecificPassword(value, callback)
      if (this.user.password_confirmation !== '') {
        this.$refs.newPasswordForm.validateField('password_confirmation')
      }
      callback()
    }
    let validateConfirmation = (rule, value, callback) => {
      if (this.isBlank(value)) {
        callback(new Error(this.tr('auth.messages.confirm_password')))
      } else if (value !== this.user.password) {
        callback(new Error(this.tr('auth.messages.not_match')))
      } else {
        callback()
      }
    }
    return {
      popoverVisible: false,
      user: {
        password: '',
        password_confirmation: '',
        reset_password_token: '',
      },
      rules: {
        password: [
          { validator: validatePassword, trigger: 'blur' },
        ],
        password_confirmation: [
          { validator: validateConfirmation, trigger: 'blur' },
        ],
      },
    }
  },
  computed: {
    forgotUserToken () {
      return this.$route.query.reset_password_token
    },
  },
  watch: {
    user: {
      handler () {
        this.$refs.newPasswordForm.validate((valid, errors) => {
          this.setAuthErrors({ errors: errors, server: false })
        })
      },
      deep: true,
    },
  },
  created () {
    this.setAuthErrors({ errors: [], server: false })
  },
  methods: {
    submitForm () {
      this.$refs.newPasswordForm.validate((valid, errors) => {
        this.setAuthErrors({ errors: errors, server: false })
        if (!valid) return false
        this.user.reset_password_token = this.forgotUserToken
        this.axios.put(this.$apiRoutes.password + '/' + this.forgotUserToken, this.user)
          .then(() => {
            this.errorMessage(-1, this.tr('auth.messages.changed_successfully'), 'success')
            setInterval(() => {
              window.location.href = '/auth'
            }, 2000)
          })
          .catch(error => {
            this.setAuthErrors({ errors: error, server: true })
          })
      })
    },
  },
}
</script>
