<template>
  <div class="auth-section accept-invite">
    <div class="auth-section__title">
      <h2 class="mb0 normal-we inline-block">
        {{ tr('auth.welcome') }} {{ tr('auth.project_title') }}!
      </h2>
    </div>
    <h3>{{ tr('auth.messages.success_login_message') }}.</h3>
    <div class="mt10 mb10">
      <error-messages />
    </div>
    <el-button
      type="c-btn-red"
      @click="loginUser">
      {{ tr('auth.invitation.login_page') }}
    </el-button>
  </div>
</template>

<script>

export default {
  created () {
    this.setAuthErrors({ errors: [], server: false })
    this.setPageTitle(this.tr('auth.welcome'))
  },
  methods: {
    loginUser () {
      window.location.href = '/'
    },
  },
}
</script>
