<template>
  <el-card class="box-card">
    <div
      slot="header"
      class="el-card__head">
      <div class="title">
        {{ tr('customer.company_people.title') }}
      </div>
      <i
        class="el-icon-edit pull-right" />
    </div>
    <div
      v-for="o in 4"
      :key="o"
      class="text item">
      {{ 'List item ' + o }}
    </div>
    <el-button
      class="btn-customer pull-right"
      type="primary">
      {{ tr('customer.button.submmit') }}
    </el-button>
  </el-card>
</template>
<script>
</script>
