<template>
  <el-card
    class="box-card"
    style="position: relative;">
    <div
      slot="header"
      :class="isBlank(defaultItem.logo) || defaultItem.logo === 'no_logo' ? 'el-card__head' : 'gray-title'"
      :style="contentStyle">
      <div class="title-parent">
        <div
          class="title-picture"
          v-if="!isBlank(defaultItem.logo) && defaultItem.logo !== 'no_logo'">
          <img
            :src="imageUrl"
            width="100" />
        </div>
        <div class="title">
          {{ defaultItem.title }}
        </div>
        <i
          class="el-icon-edit pull-right" />
      </div>
    </div>
    <div class="customer-audit-area">
      <el-container :class="isBlank(defaultItem.logo) || defaultItem.logo === 'no_logo' ? 'large-container' : 'container'">
        <el-row class="full-width">
          <el-col :span="24">
            <h2 class="bold">
              {{ defaultItem.question }}
            </h2>
            <div v-if="defaultItem.item_type === 'audit_area' && !isBlank(defaultItem.item_type_id)">
              <responsible
                :audit-area-id="defaultItem.item_type_id" />
            </div>
            <div v-else-if="defaultItem.item_type === 'company_people'">
              <company-people />
            </div>
            <div v-else-if="defaultItem.item_type === 'company_detail'">
              <company-details
                @next-item-basic-information="nextItemBasicInformation" />
            </div>
          </el-col>
        </el-row>
      </el-container>
    </div>

    <div class="footer">
      <el-row>
        <el-col :span="24">
          <hr />
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-button
            class="background-crimson pull-right button-flat"
            type="primary"
            @click="nextItem">
            {{ tr('customer.button.continue') }}
          </el-button>
          <el-button
            v-if="company.basic_information_status"
            class="background-dark-blue pull-right mr20 button-flat"
            type="primary"
            @click="goToAudit">
            {{ tr('customer.button.skip_and_audit') }}
          </el-button>
        </el-col>
      </el-row>
    </div>
  </el-card>
</template>

<script>
import Responsible from './responsible/layout'
import companyPeople from './company_people/layout'
import companyDetails from './company_details/form'

export default {
  components: {
    'responsible': Responsible,
    'company-people': companyPeople,
    'company-details': companyDetails,
  },
  props: {
    basicInformation: {
      type: Object,
      default () {
        return {}
      },
    },
  },
  data () {
    return {
      defaultItem: {
        title: '',
        title_background: '',
        title_color: '',
        logo: '',
        question: '',
        item_type: '',
        item_type_id: '',
      },
      imageUrl: '',
      itemIndex: 0,
    }
  },
  computed: {
    contentStyle () {
      let bg = this.isBlank(this.defaultItem.title_background) ? '#fff' : this.defaultItem.title_background
      let color = this.isBlank(this.defaultItem.title_color) ? '#000' : this.defaultItem.title_color
      let style = 'background: ' + bg + ' !important;'
      style += 'color: ' + color + ' !important;'

      return style
    },
    company () {
      return this.$store.getters.selectedCustomerCompany
    }
  },
  watch: {
    basicInformation: {
      handler () {
        this.resetDefaultItem()
        if (!this.isBlank(this.basicInformation) && !this.isBlank(this.basicInformation.basic_information_items)) {
          this.defaultItem = this.basicInformation.basic_information_items[0]
          this.itemIndex = 0
          this.getImageUrl()
        }
      },
      deep: true
    }
  },
  methods: {
    resetDefaultItem () {
      this.defaultItem = {
        title: '',
        title_background: '',
        title_color: '',
        logo: '',
        question: '',
        item_type: '',
        item_type_id: '',
      }
    },
    getImageUrl () {
      if (this.isBlank(this.defaultItem.logo) || this.defaultItem.logo === 'no_logo') return
      if (this.defaultItem.logo === 'industrial_sector_logo') {
        this.imageUrl = this.downloadLink(this.company.industrial_sector, 'industrial_sector')
        return
      }
      if (this.defaultItem.logo === 'audit_area_logo') {
        if (this.defaultItem.item_type !== 'audit_area' || this.isBlank(this.defaultItem.item_type_id)) return
        this.imageUrl = this.downloadLink(this.defaultItem.item_type_id, 'audit_area')
      }
    },
    nextItem () {
      this.itemIndex += 1
      if (!this.isBlank(this.basicInformation.basic_information_items[this.itemIndex])) {
        this.defaultItem = this.basicInformation.basic_information_items[this.itemIndex]
      } else if (this.defaultItem.item_type === 'company_detail') {
        this.$store.commit('nextItemForBasicInformation')
      } else this.nextItemBasicInformation()
    },
    goToAudit () {
      this.$emit('go-to-audit')
    },
    nextItemBasicInformation () {
      this.$emit('next-item', this.basicInformation.id)
    },
  },
}
</script>
