<template>
  <el-row>
    <nps-customer
      v-if="!isBlank(currentCompanyId) && !company.customer_rate_is_in_30_days_ago"
      :company-id="currentCompanyId" />
    <!-- Team Presentation markup -->
    <el-row
      :gutter="10"
      class="team-intro-container">
      <el-col :span="5">
        <div class="company-package mt250">
          <p class="package">
            {{ company.name }}
          </p>
        </div>
      </el-col>
      <el-col :span="6">
        <div class="pm-horizontal-arrow-long" />
        <div class="angled-arrow-top" />
        <el-row class="team mt250">
          <el-row class="team-image image-bg">
            <v-gravatar
              v-if="isBlank(company.project_manager.attachment)"
              :email="company.project_manager.email"
              :size="64"
              default-img="mm" />
            <img
              v-else
              :src="downloadLink(company.project_manager.attachment.id)" />
          </el-row>
          <el-row class="team-detail">
            <p class="title">
              <span v-if="company.project_manager.gender === 'male'">
                {{ tr('customer.index.your_project_manager') }}
              </span>
              <span v-else-if="company.project_manager.gender === 'female'">
                {{ tr('customer.index.Your_project_manager_project_manager') }}
              </span>
              <span v-else>
                {{ tr('customer.index.project_manager') }}
              </span>
            </p>
            <p class="name">
              {{ company.project_manager.full_name }}
            </p>
          </el-row>
        </el-row>
        <div class="angled-arrow-bottom" />
        <div class="pm-horizontal-arrow-short" />
      </el-col>
      <el-col :span="6">
        <div class="dpo-horizontal-arrow-top" />
        <!-- Before May -->
        <el-row
          class="team mt50"
          v-if="company.contract.before_may">
          <el-row class="team-image image-bg">
            <img :src="kivanc" />
          </el-row>
          <el-row class="team-detail">
            <p class="title">
              {{ tr('customer.index.project_manager') }}
            </p>
            <p class="name">
              Kıvanç Semen
            </p>
          </el-row>
        </el-row>
        <!-- After May -->
        <el-row
          class="team mt50"
          v-else>
          <el-row class="team-image image-bg">
            <v-gravatar
              v-if="isBlank(company.dpo.attachment)"
              :email="company.dpo.email"
              :size="64"
              default-img="mm" />
            <img
              v-else
              :src="downloadLink(company.dpo.attachment.id)" />
          </el-row>
          <el-row class="team-detail">
            <p class="title">
              <span v-if="company.dpo.gender === 'male'">
                Benannter Datenschutzbeauftragter
              </span>
              <span v-else-if="company.dpo.gender === 'female'">
                Benannte Datenschutzbeauftragte
              </span>
              <span v-else>
                {{ tr('data_protection_officer') }}
              </span>
            </p>
            <p class="name">
              {{ company.dpo.full_name }}
            </p>
          </el-row>
        </el-row>
        <div class="dpo-horizontal-arrow-bottom" />
        <!-- Before May -->
        <el-row
          v-if="company.contract.before_may"
          class="team mt150">
          <el-row class="team-image image-bg">
            <v-gravatar
              v-if="isBlank(company.dpo.attachment)"
              :email="company.dpo.email"
              :size="64"
              default-img="mm" />
            <img
              v-else
              :src="downloadLink(company.dpo.attachment.id)" />
          </el-row>
          <el-row class="team-detail">
            <p class="title">
              <span v-if="company.dpo.gender === 'male'">
                Stellvertretender Datenschutzbeauftragter
              </span>
              <span v-else-if="company.dpo.gender === 'female'">
                Stellvertretende Datenschutzbeauftragte
              </span>
              <span v-else>
                Stellvertretender Datenschutzbeauftragter
              </span>
            </p>
            <p class="name">
              {{ company.dpo.full_name }}
            </p>
          </el-row>
        </el-row>
        <el-row
          class="team mt150"
          v-else>
          <el-row class="team-image image-bg">
            <img :src="dataguard" />
          </el-row>
          <el-row class="team-detail">
            <p class="name">
              DataGuard Team
            </p>
          </el-row>
        </el-row>
      </el-col>
      <el-col :span="7">
        <div id="expert-teams-box">
          <div id="expert-teams-header-div">
            <h3 id="expert-teams-header">
              Experten-Teams
            </h3>
          </div>
          <div id="expert-teams-content-div">
            <div class="expert-teams-content">
              <h4 class="expert-teams-subheader">
                Recht
              </h4>
              <p>AVV-Erstellunng</p>
              <p>AVV-Prüfung</p>
            </div>

            <div class="expert-teams-content">
              <h4 class="expert-teams-subheader">
                Sekundärprozesse
              </h4>
              <p>Vertrieb</p>
              <p>Personal</p>
              <p>Finanzen</p>
              <p>Einkauf</p>
              <p>IT</p>
            </div>

            <div class="expert-teams-content">
              <h4 class="expert-teams-subheader">
                Website
              </h4>
              <p>Datenschutzerklärung</p>
              <p>Plug-Ins</p>
            </div>
            <div class="expert-teams-content">
              <h4 class="expert-teams-subheader">
                Mitarbeiter
              </h4>
              <p>Mitarbeiterschulung</p>
              <p>Verpflichtung der Mitarbeiter</p>
              <p>Datenschutz-Dossier</p>
            </div>
          </div>
        </div>
      </el-col>
    </el-row>

    <el-row class="ablauf-info mt50">
      <el-col :span="24">
        <img :src="ablauf_audit" />
      </el-col>
    </el-row>

    <el-row
      :gutter="40"
      class="link-info-container mt100">
      <el-col
        :span="6"
        :offset="3">
        <a
          class="link-info"
          href="http://DataGuard:67U&wzL%4y@www.dataguard.de/datenschutzerklaerungs-generator/"
          target="_blank">
          <div class="title">Datenschutzerklärung-Generator</div>
          <div>
            <img :src="datenschutzerklarungs" />
          </div>
        </a>
      </el-col>
      <el-col :span="6">
        <a
          class="link-info"
          :href="'https://dataguardakademie.thinkific.com/users/sign_up' + trainingCode"
          target="_blank">
          <div class="title">Mitarbeiter-Schulung</div>
          <div>
            <img :src="mitarbeiter" />
          </div>
        </a>
      </el-col>
      <el-col :span="6">
        <a
          class="link-info"
          @click="recognizanceDialog = true"
          target="_blank"
          style="cursor: pointer">
          <div class="title">Vorlagen</div>
          <div>
            <img
              style="margin-top: -17px"
              :src="vorlagen" />
          </div>
        </a>
      </el-col>
    </el-row>
    <el-dialog
      width="50%"
      title="Vorlagen"
      v-if="recognizanceDialog"
      :visible.sync="recognizanceDialog">
      <recognizance :company-id="company.id" />
    </el-dialog>
  </el-row>
</template>

<script>
import kivancSemen from 'assets/images/customer/kivanc_semen.png'
import dataguardLogo from 'assets/images/Logo_small_without_name.png'
import ablaufAudit from 'assets/images/customer/ablauf_audit.jpg'

import datenschutzerklarungs from 'assets/images/customer/datenschutzerklarungs.png'
import mitarbeiter from 'assets/images/customer/mitarbeiter.png'
import vorlagen from 'assets/images/customer/vorlagen.png'

import recognizance from './recognizance'
import npsCustomer from './nps_customer'

export default {
  components: {
    'recognizance': recognizance,
    'nps-customer': npsCustomer,
  },
  data () {
    return {
      kivanc: kivancSemen,
      dataguard: dataguardLogo,
      ablauf_audit: ablaufAudit,
      datenschutzerklarungs: datenschutzerklarungs,
      mitarbeiter: mitarbeiter,
      vorlagen: vorlagen,
      recognizanceDialog: false,
      currentCompanyId: null,
    }
  },
  computed: {
    company () {
      return this.$store.getters.selectedCustomerCompany
    },
    trainingCode () {
      let trCode = this.company.training_code
      if (trCode === null) return ''
      if (trCode.charAt(0) === '?') return trCode
      if (trCode.charAt(0) === '/') return trCode
      return '/' + trCode
    },
  },
  watch: {
    company (company) {
      this.switchToSelectedCompany(company)
    },
  },
  methods: {
    switchToSelectedCompany (company) {
      this.company = company
      this.currentCompanyId = company
    },
  },
}
</script>
