<template>
  <div>
    <el-menu
      mode="horizontal"
      :default-active="activeMenu"
      class="header-menu" />
  </div>
</template>

<script>
export default {
  data () {
    return {
      activeMenu: '',
    }
  },
  created () {
    this.activeMenu = this.$route.meta.name
  },
}
</script>
