<template>
  <div class="custom-notification">
    <div
      v-if="npsCustomerDialog"
      role="alert"
      class="el-notification">
      <div class="el-notification__group">
        <el-row>
          <el-col :span="22">
            <h2 class="el-notification__title">
              {{ this.tr('customer.nps_dialog.title') }}
            </h2>
          </el-col>
          <el-col
            :span="2"
            class="text-right">
            <el-button
              type="text"
              icon="el-icon-close"
              @click="closeDialg"
              style="padding-top: 0;" />
          </el-col>
        </el-row>
        <el-row>
          <el-col
            :span="12"
            style="color: red; font-weight: bold">
            {{ this.tr('customer.nps_dialog.not_likely') }}
          </el-col>
          <el-col
            :span="12"
            class="text-right"
            style="color: green; font-weight: bold">
            {{ this.tr('customer.nps_dialog.likely') }}
          </el-col>
        </el-row>
        <el-row>
          <el-button
            v-for="n in 10"
            :key="n"
            @click="setNPS(n)">
            {{ n }}
          </el-button>
        </el-row>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    companyId: {
      type: [String, Number],
      required: true,
    },
  },
  data () {
    return {
      npsCustomerDialog: true,
      activeMenu: '',
    }
  },
  methods: {
    setNPS (point) {
      let rating = [{
        category: 'customer',
        company_id: this.companyId,
        value: point,
      }]

      this.axios.post(this.$apiRoutes.rating, { ratings: rating })
        .then(response => {
          this.errorMessage(-1, 'customer.messages.thanks_for_cooperation', 'success')
          this.closeDialg()
        })
        .catch(e => {
          this.errorMessage(e.request.status, e)
        })
    },
    closeDialg () {
      this.npsCustomerDialog = false
    },
  },
}
</script>

<style>
.custom-notification {
  position: absolute;
  z-index: 2046;
  width: 100%;
  top: -18px
}
.custom-notification .el-notification {
  display: block;
  position: unset;
  width: 675px;
  margin-left: auto;
  margin-right: auto;
}

.custom-notification .el-notification__group {
  width: 100%;
}
</style>
