<template>
  <el-row>
    <el-table :data="recognizanceTemplates">
      <el-table-column
        label=""
        property="title" />
      <el-table-column
        width="150"
        label="">
        <template slot-scope="scope">
          <el-button
            type="success"
            @click="downloadTemplate(scope.$index, 'german')">
            {{ tr('customer.company_people.download') }}
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <form
      style="visibility: hidden"
      ref="generatePDFForm"
      :action="$apiRoutes.generatePDF"
      method="post">
      <input
        type="hidden"
        :value="recognizance.content"
        name="pdf_content" />
      <input
        type="hidden"
        :value="recognizance.title"
        name="pdf_name" />
      <input
        type="hidden"
        :value="companyId"
        name="company_id" />
    </form>
  </el-row>
</template>

<script>
export default {
  props: {
    companyId: {
      type: [Number, String],
      required: true,
    },
  },
  data () {
    return {
      recognizanceTemplates: [],
      recognizance: {
        title: '',
        content: '',
      },
    }
  },
  created () {
    this.fetchRecognizanceTemplates()
  },
  methods: {
    fetchRecognizanceTemplates () {
      let generatedRoute = this.$apiRoutes.pdf_template
      generatedRoute += '?recognizance=true&active=true'
      this.axios.get(generatedRoute)
        .then(response => {
          if (response.data.data.length === 0) {
            this.errorMessage(-1, this.tr('customer.messages.not_have_Vorlag_template'), 'error')
            return
          }
          this.recognizanceTemplates = this.deserializer(response.data)
        })
        .catch(e => {
          this.errorMessage(e.request.status, e)
        })
    },
    downloadTemplate (templateIndex, language) {
      let generatedRoute = this.$apiRoutes.parse + '/' + this.recognizanceTemplates[templateIndex].id
      generatedRoute += '?language=' + language
      generatedRoute += '&company_id=' + this.companyId
      generatedRoute += '&template_type=pdf'
      this.axios.get(generatedRoute)
        .then(response => {
          this.recognizance.content = response.data.data.content
          this.recognizance.title = response.data.data.title
          this.generatePDF()
        })
        .catch(e => {
          this.errorMessage(e.request.status, e)
        })
    },
    generatePDF () {
      setTimeout(() => {
        this.$refs.generatePDFForm.submit()
      }, 500)
    },
  },
}
</script>
