<template>
  <div>
    <el-container>
      <div class="welcome-page">
        <div
          class="welcome-page__box"
          v-if="!isBlank(company)">
          <div class="welcome-page__avatar">
            <v-gravatar
              v-if="isBlank(company.project_manager.attachment)"
              :email="company.project_manager.email"
              :size="256"
              default-img="mm" />
            <img
              v-else
              :src="downloadLink(company.project_manager.attachment.id)" />
          </div>
          <div class="welcome-page__content">
            <h1 class="bold">
              {{ genderPrefix }} {{ current_user.full_name }}
            </h1>
            <h2 class="bold">
              Weblog
            </h2>
          </div>
        </div>
      </div>
    </el-container>
  </div>
</template>

<script>
export default {
  computed: {
    company () {
      return this.$store.getters.selectedCustomerCompany
    },
    genderPrefix () {
      switch (this.current_user.gender) {
        case 'male':
          return "Male"
        case 'female':
          return "Female"
        default:
          return "No_gender"
      }
    },
  },
}
</script>
